<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="SearchForInfinity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <Publish>False</Publish>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider"
           invariant="Npgsql"
           description=".Net Data Provider for PostgreSQL"
           type="Npgsql.NpgsqlFactory, Npgsql, Version=8.0.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
<userSettings>
    <SearchForInfinity.Properties.Settings>
        <setting name="Server" serializeAs="String">
            <value>localhost</value>
        </setting>
        <setting name="Port" serializeAs="String">
            <value>5432</value>
        </setting>
        <setting name="Database" serializeAs="String">
            <value />
        </setting>
        <setting name="Username" serializeAs="String">
            <value />
        </setting>
        <setting name="Password" serializeAs="String">
            <value />
        </setting>
        <setting name="WindowLeft" serializeAs="String">
            <value>0</value>
        </setting>
        <setting name="WindowTop" serializeAs="String">
            <value>0</value>
        </setting>
        <setting name="WindowWidth" serializeAs="String">
            <value>1000</value>
        </setting>
        <setting name="WindowHeight" serializeAs="String">
            <value>600</value>
        </setting>
        <setting name="WindowState" serializeAs="String">
            <value>Normal</value>
        </setting>
    </SearchForInfinity.Properties.Settings>
  </userSettings>
</configuration>